*{
	margin: 0;
	padding: 0;
}
.box {
	width: 100%;
	height: 1000px;
    background-color: #dfdfdfb3;
}
.uppermost{
	width: 100%;
    height: 27.5px;
    background-color: black;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
}
.signdiv {
	height: 100%;
	color: white;
}
#leftsign{
	display: inline-flex;
	align-items: center;
	flex: 0.4;
}
#leftsign ul li {
	width: 5px;
	height: 5px;
	border-radius: 50%;
	border: 1px solid black;
	background-color: white;
}
#leftsign ul {
	display: flex;
	list-style: none;
	margin-left: 10px;
}
#leftsign span {
	color: white;
	font-size: 12px;
	margin-left: 5px;
}
#leftsign img {
    width: 29px;
    height: 11px;
}
#condentsign{
	display: inline-flex;
	align-items: center;
	flex: 0.2;
	justify-content: center;
}
#condentsign span {
	    color: white;
    font-size: 12px;
}

#rightsign {
	display: inline-flex;
	align-items: center;
	flex: 0.4;
	justify-content: flex-end;
}
#rightsign img {
	width: 29px;
    height: 15px;
}
#rightsign span {
	    color: white;
    font-size: 12px;
    margin: 0 5px;
}
.box-top {
	width: 100%;
    height: 55px;
    background-color: #dfdfdf;
    position: fixed;
    top: 27.5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.box-top .left {
		flex: 0.7;
}
.box-top span {
	font-size: 22px;
	font-family: "黑体";
}
.box-top img {
	width: 25px;
	height: 25px;
}
.box-content2 {
	width: 100%;
    height: 130px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box-content2{
    width: 100%;
    height: 260px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

 .box-content2 div{
	width: 100%;
	height: 100%;
    display: flex;
    align-items: center;
    
}
.botton-border{
	border-bottom: 0.5px solid #ccc8c8c9;
    flex: 0.83;
     justify-content: space-between;
}
.content2-in .img- {
	flex: 0.17;
    width: 40px;
    height: 40px;
}

.content2-in span{
	font-size: 19px;
	flex: 0.7;
}
.kong {
	width: 100%;
    height: 82.5px;
}
.konga {
	width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*.good0 {
	height:75px;
	width: 30px;
	background-color: black;
	position: fixed;
	right:0;
	border:0;

	
}
.right-number {
	height: 81%;
	width: 30px;
	background-color: red;
	position: fixed;
	right:0;
	top: 82.5px;
	z-index: 555;
}
.letter ul {
	list-style: none;
	font-size: 15%;

}
.letter ul li {
	display: flex;
	justify-content: center;
	align-items: center;
	
}

*/        


.kong2 {
	width: 100%;
    height: 67px;
}
.box-bottom {
	width: 100%;
	height: 75px;
	background-color: #f1f1f1;
	position: fixed;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
    text-align: center;
}
.box-bottom div{
	width: 25%;
	height: 75px;
	flex-direction: row;
}
.box-bottom img {
	width: 30px;
	height: 30px;
	margin: 8px;
}
.box-bottom span {
	font-size: 13px;
	display: block;
	text-align: center;
}
a{
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  color: black;
}
